html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  color: rgb(56, 56, 56);
  background-color: rgb(246, 250, 244);
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  word-spacing: 0.1rem;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  line-height: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.3rem;
}

/* NAVIGATION BAR */

.list {
  list-style-type: none;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-bar .links {
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-content: center;
  background-color: #d4eac2;
  padding: 2rem 0;
  margin: 0;
}

.nav-bar .links .liminal-icon {
  color: rgb(37, 37, 37);
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-left: 5rem;
  margin-right: 2rem;
}

.nav-bar .links .sublink a {
  margin: 0 2.5rem;
  /* bottom padding is for underline (border-bottom) on hover */
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: rgb(94, 94, 94);
  transition: color 0.8s;
  font-size: 2rem;
}

.nav-bar .links .sublink a:hover {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid black;
}

.nav-bar .links .bars-icon {
  display: none;
}

.nav-bar .vertical-links {
  display: none;
}

/* GENERAL PAGE CONTAINER */

.webpage-container {
  width: 65vw;
  margin: 7rem auto;
}

.webpage-container h1 {
  margin-bottom: 3rem;
}

/* WELCOME PAGE */

.banner-img {
  position: relative;
  height: 100vh;
  background: url(images/coffeeshop.jpg) no-repeat;
  background-size: cover;
}

.dark-sheet {
  height: 100vh;
  background-color: rgba(53, 53, 53, 20%);
}

.tagline, .location {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(218, 218, 218);
  text-shadow: 2px 2px 3.5px black;
}

.tagline {
  line-height: 10rem;
  width: fit-content;
  margin: 0 auto;
  padding: 27rem 4rem 0;
  font-size: 7rem;
}

.location {
  position: absolute;
  margin-right: 3rem;
  padding: 0;
  font-size: 5rem;
  right: 0;
  bottom: 12rem;
}

/* ABOUT PAGE */

.webpage-container .about-page-grid {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 60fr 40fr;
  grid-template-rows: auto;
  /*grid-template-rows: 5rem repeat(5, 17rem) 5rem;*/
  grid-template-areas:
    "header        ."
    "the-name      fern-img"
    "what-we-are   fern-img"
    "what-we-offer fern-img"
    "the-mission   fern-img"
    "theory-praxis fern-img"
    ".             fern-img";
  column-gap: 3rem;
  row-gap: 3rem;
}

.about-page-grid h3 {
  font-weight: 700;
  margin: 0;
}

.about-page-grid h1 {
  margin: 0;
}

.about-page-grid p {
  color: rgb(94, 93, 93);
  width: auto;
  margin: 0;
}

.about-page-grid .header {
  grid-area: header;
}

.about-page-grid .the-name {
  grid-area: the-name;
}

.about-page-grid .what-we-are {
  grid-area: what-we-are;
}

.about-page-grid .what-we-offer {
  grid-area: what-we-offer;
}

.about-page-grid .the-mission {
  grid-area: the-mission;
}

.about-page-grid .theory-praxis {
  grid-area: theory-praxis;
}

/* IMAGES */

.about-page-grid .fern-img {
  grid-area: fern-img;
  background: url(images/ferns.jpg) no-repeat;
  background-size: cover;
  background-position: -150px;
}

.flower-container {
  padding-top: 3rem;
  border-top: 1px solid grey;
}

.flower-img {
  background: url(images/flowers.jpg) no-repeat;
  background-size: cover;
  width: auto;
  height: 20rem;
  margin: 3rem auto 15rem;
}

.flower2-img {
  background: url(images/flower2.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  width: auto;
  margin-bottom: 3rem;
  height: 20rem;
}

.oranges-img {
  background: url(images/oranges.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  width: auto;
  margin-bottom: 3rem;
  height: 20rem;
}

.blog-post-one-img {
  background: url(images/blog-post-one.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  height: 40rem;
  margin-bottom: 3rem;
}

/* CAFE + MENU */

#cafe-menu h2 {
  margin: 0;
}

#cafe-menu h3 {
  margin: 0;
}

#cafe-menu ul {
  margin: 0;
}

#cafe-menu p {
  margin: 0 auto 3rem;
}

#cafe-menu .beverages {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 3rem;
}

#cafe-menu .beverages .list {
  text-align: right;
}

#cafe-menu .small-plates {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-top: 3rem;
  padding-bottom: 0;
}

#cafe-menu .small-plates .list {
  flex-basis: 70%;
}

#cafe-menu .a-note-on-payment {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

#cafe-menu .a-note-on-payment div {
  flex-basis: 60%;
}

/* CONTACT PAGE */

#contact .get-in-touch {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

#contact form {
  display: block;
  flex-basis: 65%;
  margin: 0 0 1rem;
}

#contact .get-in-touch h2 {
  font-weight: 700;
  margin: 0;
}

label {
  display: block;
}

button {
  font-size: 1.7rem;
  background-color: rgb(56, 56, 56);
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
}

button:hover {
  background-color: rgb(27, 27, 27);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

fieldset div {
  width: 50%;
}

input,
textarea {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  transition: border-color 0.15s, box-shadow 0.15s;
  background-color: rgb(245, 245, 245);
}

input:focus,
textarea:focus {
  border-color: #7db0fb;
  outline: 0;
  box-shadow: 0 0 0 2px rgb(24, 117, 255, 0.25);
}

input[id="last-name"],
label[for="last-name"] {
  margin-left: 3%;
}

input[id="last-name"] {
  width: 97%;
}

input[id="first-name"] {
  width: 97%;
}

input[id="email"],
input[id="subject"],
textarea {
  width: 100%;
}

.form-group {
  margin-bottom: 2rem;
}

/* BLOG PAGE */

#blog p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 3rem auto;
}

#blog .blog-post {
  margin: 3rem auto;
  border-top: 1px solid grey;
}

#blog .blog-post p {
  font-size: 1.5rem;
  margin: 2rem 0;
}

#blog .blog-post h2 {
  font-weight: 400;
  margin: 3rem auto;
  line-height: 3.5rem;
}

#blog .blog-post h3 {
  margin: 0 0 2rem;
}

#blog .blog-post .post-content {
  margin: 3rem 0;
  column-count: 2;
  column-gap: 5rem;
}

#blog .blog-post .date {
  column-span: all;
  margin: 2rem 0 0;
  text-align: right;
}

/* EVENTS PAGE */

#events p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 3rem auto;
}

#events h2 {
  font-weight: 400;
  margin: 3rem auto;
}

#events .event {
  margin: 3rem auto 0;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: row;
}

#events .event-description {
  flex-basis: 60%;
  margin-left: 5rem;
}

.succulents-img {
  background: url(images/succulents.jpg) no-repeat;
  background-size: cover;
  height: 30rem;
  width: 30rem;
  align-self: center;
  margin: 3rem auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1250px) {
  /* NAVIGATION BAR */

  .nav-bar .links .liminal-icon {
    color: rgb(37, 37, 37);
    text-decoration: none;
    font-weight: 700;
    font-size: 2.7rem;
    letter-spacing: 3px;
    margin-left: 5rem;
    margin-right: 2rem;
  }

  .nav-bar .links .sublink a {
    margin: 0 2.5rem;
    /* bottom padding is for underline (border-bottom) on hover */
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: rgb(94, 94, 94);
    transition: color 0.8s;
    font-size: 1.75rem;
  }

  /* CAFE + MENU */

  #cafe-menu .a-note-on-payment div {
    flex-basis: 50%;
  }

  #cafe-menu h2 {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1150px) {
  #cafe-menu .small-plates {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-top: 3rem;
    padding-bottom: 0;
  }

  #cafe-menu .small-plates .list {
    flex-basis: 65%;
  }

  /* BLOG PAGE */

  .blog-post-one-img {
    background-position: 0;
  }
}

@media screen and (max-width: 1025px) {

  .nav-bar .links .liminal-icon {
    font-size: 2.5rem;
  }

  .nav-bar .links .sublink a {
    margin: 0 1.9rem;
    font-size: 1.65rem;
  }

  .tagline {
    font-size: 5.5rem;
    line-height: 7.5rem;
  }

  /* CAFE + MENU */

  #cafe-menu .small-plates {
    display: block;
    border-bottom: 1px solid grey;
  }

  #cafe-menu .small-plates .list {
    padding: 0;
  }

  #cafe-menu .a-note-on-payment {
    display: block;
  }

  #cafe-menu .a-note-on-payment div {
    margin-top: 3rem;
  }

  /* EVENTS PAGE */

  #events h2 {
    line-height: 3.5rem;
  }

  #events .event {
    display: block;
  }

  #events .event-description {
    margin: 0;
  }

  .succulents-img {
    width: 100%;
    height: 20rem;
  }

  /* BLOG PAGE */

  #blog .blog-post .post-content {
    margin: 3rem 0;
    column-count: 1;
    column-gap: 5rem;
  }

  #blog .blog-post .date {
    column-span: all;
    margin: 2rem 0 0;
    text-align: right;
  }

  /* CONTACT PAGE */

  #contact .get-in-touch {
    display: block;
  }

  #contact fieldset {
    margin-top: 3rem;
  }

  #contact .button {
    margin-bottom: 3rem;
  }

  /* FLOWER IMAGE FOOTER */

  .flower-img {
    margin-bottom: 17rem;
  }
}

@media screen and (max-width: 875px) {
  /* ABOUT PAGE */

  .webpage-container .about-page-grid {
    display: block;
  }

  .about-page-grid p {
    margin-bottom: 3rem;
    width: 100%;
  }

  .about-page-grid h1 {
    margin-bottom: 3rem;
  }

  .fern-rotated-img {
    background: url(images/ferns-rotated.jpeg) no-repeat;
    background-size: cover;
    width: auto;
    height: 20rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 865px) {

  .location {
    bottom: 16rem;
  }

  /* NAVIGATION */

  .nav-bar .links .sublink {
    display: none;
  }

  .nav-bar .links {
    justify-content: space-between;
    line-height: normal;
  }

  .nav-bar .links .bars-icon {
    display: block;
    margin-left: 5rem;
    margin-top: .4rem;
  }

  .nav-bar .links .liminal-icon {
    font-size: 2.5rem;
    margin-right: 5rem;
    margin-left: 0;
  }

  .vertical-links {
    background-color: #d4eac2;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .vertical-links li {
    margin: 3rem 0;
    list-style-type: none;
  }

  .vertical-links a {
    text-decoration: none;
    color: rgb(94, 94, 94);
    transition: color 0.8s;
    font-size: 3.5rem;
  }

  .vertical-links a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
  }

  /* CAFE + MENU */

  #cafe-menu .beverages {
    display: block;
  }

  #cafe-menu .beverages .list {
    text-align: left;
    list-style-type: circle;
  }

  #cafe-menu .small-plates {
    display: block;
  }

  .oranges-img {
    background-position: 0;
  }

  /* BLOG PAGE */

  .blog-post-one-img {
    background-position: -50px;
    height: 30rem;
  }

  /* CONTACT PAGE */

  .flower2-img {
    background-position: 0;
  }

  /* FLOWER IMAGE FOOTER */

  .flower-img {
    margin-bottom: 20rem;
  }
}

@media screen and (max-width: 700px) {
  /* BANNER IMG */

  .banner-img {
    background-position: -230px;
  }

  .tagline {
    font-size: 4.5rem;
    line-height: 6.5rem;
  }

  /* CONTACT PAGE */

  #contact fieldset {
    display: block;
  }

  #contact fieldset div {
    width: 100%;
  }

  input[id="last-name"],
  label[for="last-name"] {
    margin-left: 0;
    width: 100%;
  }

  input[id="first-name"] {
    width: 100%;
  }
}

@media screen and (max-width: 700px) and (max-height: 625px) {
  /* BANNER IMG */

  .banner-img {
    background-position: 0px;
  }

}

@media screen and (max-width: 500px) {

  .location {
    bottom: 14rem;
  }

  .vertical-links a {
    font-size: 3.5rem;
  }

  /* FLOWER IMAGE FOOTER */

  .flower-img {
    margin-bottom: 18.6rem;
  }
}

@media screen and (max-width: 400px) {

  .banner-img {
    background-position: -300px;
  }

  /* CAFE + MENU */

  #cafe-menu .beverages .list {
    padding: 0;
  }

}

@media screen and (max-width: 400px) and (max-height: 475px) {
  /* BANNER IMG */

  .banner-img {
    background-position: 0px;
  }

}
