
:root {
  --black-primary: rgb(56, 56, 56);
  --black-secondary: rgb(27,27,27);
  --black-tertiary: rgb(87, 87, 87);
  --webpage-color: rgb(250, 255, 249);
  --color-nav: #d4eac2;

  --flower-padding-top: 6rem;
  /* CALCULATE NAVBAR SIZING AND MARGINS */
  --sublink-size: 1.6rem;
  --links-padding: 1rem;
  --icon-size: 2.8rem;
  --nav-bar-height: calc((var(--links-padding) * 2) + var(--icon-size));

  /* CALCULATE NAVBAR SIZING AND MARGINS */
  --sublink-size-2: 1.6rem;
  --links-padding-2: 1rem;
  --icon-size-2: 2.8rem;
  --nav-bar-height-2: calc((var(--links-padding-2) * 2) + var(--icon-size-2));

  /* CALCULATE NAVBAR SIZING AND MARGINS */
  --sublink-size-3: 1.6rem;
  --links-padding-3: 1rem;
  --icon-size-3: 2.8rem;
  --nav-bar-height-3: calc((var(--links-padding-3) * 2) + var(--icon-size-3));

    /* CALCULATE NAVBAR SIZING AND MARGINS */
    --links-padding-4: 1.6rem;
    --icon-size-4: 2.8rem;
    --nav-bar-height-4: calc((var(--links-padding-4) * 2) + var(--icon-size-4));

}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: var(--webpage-color);
}

h1, h2, h3 {
  color: var(--black-secondary);
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  margin: auto 0 6rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0 0 1.5rem;
}

p, li, label, input, textarea {
  color: var(--black-primary);
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 2.5rem;
  word-spacing: 0.1rem;
}

p::selection,
a::selection,
li::selection,
label::selection,
input::selection,
br::selection,
b::selection,
i::selection,
button::selection,
textarea::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection {
  background-color: var(--color-nav);
}

.p-larger {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 3rem auto;
}

.p-larger a:hover {
  color: rgb(163, 99, 163);
}

ul {
  list-style-type: none;
}

.links {
  background-color: var(--color-nav);
}

/* NAVIGATION BAR */

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-bar .links {
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-content: center;
  padding: var(--links-padding) 0;
  margin: 0;
}

.nav-bar .links .liminal-icon {
  color: var(--black-primary);
  text-decoration: none;
  font-weight: 700;
  font-size: var(--icon-size);
  letter-spacing: 3px;
  width: 17.5vw;
  text-align: center;
  cursor: default;
}

.nav-bar .links .first-anchor {
  margin-left: 0;
}

.nav-bar .links .first-sublink {
  margin-left: 0;
}

.nav-bar .links .sublink a {
  color: var(--black-tertiary);
  /* bottom padding is for underline (border-bottom) on hover */
  padding-bottom: 0.2rem;
  text-decoration: none;
  transition: color 0.8s;
  font-size: var(--sublink-size);
}

.sublinks {
  display: flex;
  padding: 0;
  width: 65vw;
  justify-content: space-between;
}

.nav-bar .links .current-link {
  font-weight: 800;
  cursor: default;
}

.nav-bar .vertical-links .current-link {
  font-weight: 600;
  cursor: default;
}

.nav-bar .links .sublink a:hover {
  color: var(--black-secondary);
  border-bottom: 1px solid black;
}

.nav-bar .links .bars-icon {
  display: none;
}

.nav-bar .vertical-links {
  display: none;
}

/* GENERAL PAGE CONTAINER */

.webpage-container {
  width: 65vw;
  margin: 6rem auto calc(var(--nav-bar-height) + var(--flower-padding-top));
}


/* WELCOME PAGE */

.banner-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(images/coffeeshop.jpg) no-repeat;
  background-size: cover;
  background-position: 0;
}

.dark-sheet {
  height: 100vh;
  background-color: rgba(53, 53, 53, 20%);
}

/* VOLUNTEER PAGE */

.donations-list {
  list-style-type: disc;
}

.donations-list li {
  margin-bottom: 1.5rem;
}

#donate .p-larger {
  margin: 1.5rem 0;
}

.monetary-donations {
  border-bottom: 1px solid grey;
  padding-bottom: 1.5rem;
}

.material-donations {
  border-bottom: 1px solid grey;
  padding-bottom: 1.5rem;
  margin: 3rem 0;
}

.volunteering {
  margin-bottom: 3rem;
}

/* ABOUT PAGE */

.webpage-container .about-page-grid {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 60fr 40fr;
  grid-template-rows: auto;
  /*grid-template-rows: 5rem repeat(5, 17rem) 5rem;*/
  grid-template-areas:
    "the-name      fern-img"
    "what-we-offer fern-img"
    "the-mission   fern-img"
    "theory-praxis fern-img"
    ".             fern-img";
  column-gap: 10rem;
  row-gap: 1.5rem;
}

.about-page-grid h1 {
  margin: 0;
}

.about-page-grid p {
  width: auto;
  margin: 0;
}

.about-page-grid .h3-smaller {
  font-size: 1.5rem;
  font-weight: 700;
}

.about-page-grid .header {
  grid-area: header;
}

.about-page-grid .the-name {
  grid-area: the-name;
}

.about-page-grid .what-we-are {
  grid-area: what-we-are;
}

.about-page-grid .what-we-offer {
  grid-area: what-we-offer;
}

.about-page-grid .the-mission {
  grid-area: the-mission;
}

.about-page-grid .theory-praxis {
  grid-area: theory-praxis;
}

/* IMAGES */

.about-page-grid .fern-img {
  grid-area: fern-img;
  background: url(images/ferns-smaller.jpg) no-repeat;
  background-size: cover;
  background-position: -150px;
}

.flower-container {
  padding-top: var(--flower-padding-top);
  border-top: 1px solid grey;
}

.flower-img {
  background: url(images/flowers.jpg) no-repeat;
  background-size: cover;
  width: auto;
  height: 20rem;
  margin: 0 auto;
}

.flower2-img {
  background: url(images/flower2-smaller.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  width: auto;
  margin-bottom: 6rem;
  height: 20rem;
}

.oranges-img {
  background: url(images/oranges-smaller.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  width: auto;
  margin-bottom: 3rem;
  height: 20rem;
}

.books-img {
  background: url(images/books.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  width: auto;
  margin-bottom: 3rem;
  height: 20rem;
}

.blog-post-one-img {
  background: url(images/blog-post-one.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  height: 40rem;
  margin: 3rem 0;
}

.blog-post-two-img {
  background: url(images/blog-post-two.png) no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  height: 40rem;
  margin: 3rem 0;
}

.aspens-img {
  background: url(images/aspens.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  width: auto;
  margin-bottom: 3rem;
  height: 20rem;
}

/* CAFE + MENU */

#cafe-menu p {
  margin: 0 auto 3rem;
}

#cafe-menu h2 {
  margin: 0;
}

#cafe-menu ul {
  margin: 0;
}

#cafe-menu .beverages {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 3rem;
}

#cafe-menu .beverages .list {
  text-align: right;
}

#cafe-menu .small-plates {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-top: 3rem;
  padding-bottom: 0;
}

#cafe-menu .small-plate {
  margin-bottom: 0;
}

#cafe-menu .small-plates .list {
  flex-basis: 70%;
}

#cafe-menu .a-note-on-payment {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

#cafe-menu .a-note-on-payment div {
  flex-basis: 60%;
}

/* CLASSES + WORKSHOPS */

.community-education-description .post-content {
  column-count: 2;
  column-gap: 5rem;
}

.community-education-description {
  margin: 3rem auto;
  border-top: 1px solid grey;
}

/* CONTACT PAGE */

#contact .get-in-touch {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid grey;
}

#contact form {
  display: block;
  flex-basis: 65%;
  margin: 0 0 1rem;
}

#contact h2 {
  font-weight: 700;
  
}

label {
  display: block;
  font-weight: 600;
  color: var(--black-secondary);
}

button {
  font-size: 1.5rem;
  background-color: var(--black-primary);
  color: white;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
}

button:hover {
  background-color: var(--black-secondary);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

fieldset div {
  width: 50%;
}

input,
textarea {
  font-family: "montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  border: none;
  box-shadow: 0 0 4px black;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  transition: box-shadow 0.15s;
  background-color: rgb(236, 236, 236);
}

input:focus,
textarea:focus {
  font-family: "montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: 0;
  border: 1px solid var(--black-tertiary);
}

input[id="last-name"],
label[for="last-name"] {
  margin-left: 3%;
}

input[id="last-name"] {
  width: 97%;
}

input[id="first-name"] {
  width: 97%;
}

input[id="email"],
input[id="subject"],
textarea {
  width: 100%;
}

.form-group {
  margin-bottom: 2rem;
}

#map {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

.location {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.location h2 {
  margin: 0;
}



.instagram-link {
  color: var(--black-primary);
}

.instagram-link:hover {
  color: var(--black-secondary);
}

.form-submit {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 0rem !important;
}

/* BLOG PAGE */

.blog-post {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 3rem auto;
  border-top: 1px solid grey;
}

.blog-post p {
  margin: 1.5rem 0;
}

.blog-post .post-author {
  font-weight: 700;
  margin-top: 0;
}

.blog-post h2 {
  font-weight: 700;
  margin: 3rem auto;
}

.blog-post h3 {
  margin: 0 0 2rem;
  font-size: 1.5rem;
}

.blog-post .post-content {
  margin: 3rem 0;
  column-count: 2;
  column-gap: 5rem;
}

.blog-post .date {
  column-span: all;
  margin: 2rem 0 0;
  text-align: right;
}

.blog-post .sub-header {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

/* EVENTS PAGE */

#events .event {
  margin: 3rem auto 0;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: row;
}

#events .event-description {
  flex-basis: 60%;
  margin-left: 5rem;
}

.succulents-img {
  background: url(images/succulents-smaller.jpg) no-repeat;
  background-size: cover;
  height: 30rem;
  width: 30rem;
  align-self: center;
  margin: 3rem auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1250px) {

  /* NAVIGATION */

  .nav-bar .links .sublinks {
    display: none;
  }

  .nav-bar .links {
    justify-content: space-between;
    padding: var(--links-padding-4) 0;
  }

  .nav-bar .links .bars-icon {
    display: block;
    margin-left: 5rem;
    line-height: 3rem;
    cursor: pointer;
  }

  .nav-bar .links .liminal-icon {
    font-size: var(--icon-size-4);
    margin-right: 5rem;
    margin-left: 0;
    line-height: 3rem;
    width: auto;
  }

  .webpage-container {
    margin: 6rem auto calc(var(--nav-bar-height-4) + var(--flower-padding-top));
  }

  .vertical-links {
    background-color: var(--color-nav);
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }

  .vertical-links li {
    list-style-type: none;
    font-size: 3.5rem;
  }

  .vertical-links a {
    text-decoration: none;
    color: rgb(94, 94, 94);
    transition: color 0.8s;
  }

  .vertical-links a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
  }

  /* NAVIGATION BAR */

  .nav-bar .links {
    padding: var(--links-padding-2) 0;
  }

  .nav-bar .links .liminal-icon {
    font-size: var(--icon-size-2);
    line-height: var(--icon-size-2);
  }

  .nav-bar .links .sublink a {
    margin: 0 2rem;
    font-size: var(--sublink-size-2);
  }

  .webpage-container {
    margin: 6rem auto calc(var(--nav-bar-height-2) + var(--flower-padding-top));
  }

  /* CAFE + MENU */

  #cafe-menu .a-note-on-payment div {
    flex-basis: 50%;
  }

  #cafe-menu h2 {
    margin-bottom: 3rem;
  }

}

@media screen and (max-width: 1150px) {
  
  #cafe-menu .small-plates {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-top: 3rem;
    padding-bottom: 0;
  }

  #cafe-menu .small-plates .list {
    flex-basis: 65%;
  }

  /* BLOG PAGE */

  .blog-post-one-img {
    background-position: 0;
  }

     /* BLOG */

     .blog-post-two-img {
      background-position: -100px;
    }

       /* BLOG */

   .blog-post-two-img {
    background-position: 0;
  }

}

@media screen and (max-width: 1025px) {

  .p-larger {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem 0;
  }

  .blog-post .date {
    margin-top: 0;
  }

  h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .about-page-grid .h3-smaller {
    font-size: 1.2rem;
  }

  li {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .blog-post .sub-header {
    margin: 1.5rem 0;
  }

  #donate h3 {
    margin-top: 3rem;
  }

  .block {
    padding-top: 0;
  }

  .block h2 {
    margin: 3rem 0;
  }

  .flower2-img {
    margin-bottom: 3rem;
  }

  .nav-bar .links {
    padding: var(--links-padding-3) 0;
  }

  .nav-bar .links .liminal-icon {
    font-size: var(--icon-size-3);
    line-height: auto;
  }

  .nav-bar .links .sublink a {
    margin: 0 1.8rem;
    font-size: var(--sublink-size-3);
  }

  .webpage-container {
    margin: 3rem auto calc(var(--nav-bar-height-3) + var(--flower-padding-top));
  }

  .tagline {
    font-size: 5.5rem;
    line-height: 7.5rem;
  }

  /* CAFE + MENU */

  #cafe-menu .small-plates {
    display: block;
    border-bottom: 1px solid grey;
  }

  #cafe-menu .beverages h2 {
    margin-top: 0;
  }

  #cafe-menu .small-plates .list {
    padding: 0;
  }

  #cafe-menu .small-plates h2 {
    margin-bottom: 3rem;
  }

  #cafe-menu .a-note-on-payment {
    display: block;
  }

  #cafe-menu .a-note-on-payment div {
    margin-top: 3rem;
  }

  /* EVENTS PAGE */

  #events h2 {
    line-height: 3.5rem;
  }

  #events .event {
    display: block;
    margin: 3rem 0;
  }

  #events .event-description {
    margin: 0;
  }

  .succulents-img {
    width: 100%;
    height: 20rem;
    margin: 3rem 0 1.5rem;
  }

  /* BLOG PAGE */

  .blog-post .post-content {
    column-count: 1;
    column-gap: 5rem;
    margin: 1.5rem 0;
  }

  .blog-post h2 {
    margin: 1.5rem 0;
  }

  .blog-post .date {
    column-span: all;
    text-align: right;
  }

  /* CLASSES + WORKSHOPS */

  .community-education-description .post-content {
    column-count: 1;
    column-gap: 5rem;
  }

  .community-education-description h2 {
    margin-top: 3rem;
  }

  /* CONTACT PAGE */

  #contact .get-in-touch {
    display: block;
  }

  /* LOCATION */

  .location {
    display: block;
  }

  .books-img {
    background-position: 0;
  }

  .aspens-img {
    background-position: 0;
  }


}

@media screen and (max-width: 875px) {

  /* ABOUT PAGE */

  .webpage-container .about-page-grid {
    display: block;
  }

  .webpage-container {
    width: 85vw;
  }

  .about-page-grid p {
    margin-bottom: 1.5rem;
    width: 100%;
  }

  .about-page-grid h1 {
    margin-bottom: 3rem;
  }

  .fern-rotated-img {
    background: url(images/ferns-smaller.jpg) no-repeat;
    background-size: cover;
    height: 20rem;
    margin-bottom: 3rem;
  }

  #contact fieldset {
    display: block;
  }

  #contact fieldset div {
    width: 100%;
  }

  input[id="last-name"],
  label[for="last-name"] {
    margin-left: 0;
    width: 100%;
  }

  input[id="first-name"] {
    width: 100%;
  }

}

@media screen and (max-width: 865px) {

  /* CAFE + MENU */

  #cafe-menu .beverages {
    display: block;
  }

  #cafe-menu .beverages .list {
    text-align: left;
    list-style-type: circle;
  }

  #cafe-menu .small-plates {
    display: block;
  }

  .oranges-img {
    background-position: 0;
  }

  /* BLOG PAGE */

  .blog-post-one-img {
    height: 30rem;
  }

  .blog-post-two-img {
    height: 30rem;
  }

  /* CONTACT PAGE */

  .flower2-img {
    background-position: 0;
  }

}

@media screen and (max-width: 700px) {

  /* CONTACT PAGE */

  #map {
    height: 200px;
    width: 100%;
  }

  .location {
    margin: 3rem 0 3rem;
  }

  label {
    font-size: 1.5rem;
  }

  input {
    height: 3rem;
    font-size: 1.5rem;
  }

  textarea {
    font-size: 1.5rem;
  }

  button {
    height: 4.5rem;
  }

}

@media screen and (max-width: 475px){

  .webpage-container {
    width: 92vw;
    margin-top: 2rem;
  }

  .vertical-links a {
    font-size: 2.2rem;
  }

  .vertical-links .current-link {
    font-size: 2.2rem;
  }

  .p-larger {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.5rem 0;
    line-height: 2rem;
  }

  p {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin: 3rem 0;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
  }

  .donations-list li {
    margin: 1rem 0;
  }

  .block li {
    padding-left: 0;
    list-style-type: none;
  }

  ul {
    padding: 0;
  }

  #donate h3 {
    margin: 3rem 0;
  }

  /* CAFE */

  #cafe-menu h2 {
    margin-bottom: 3rem;
  }

  #cafe-menu .small-plates h2 {
    margin-bottom: 3rem;
  }

  #cafe-menu .beverages .list {
    text-align: left;
    list-style-type: none;
  }

  /* VOLUNTEER */

  .donations-list {
    list-style-type: none;
  }

  /* EVENT */

  .event h2 {
    margin-bottom: 1.5rem;
  }

  /* BLOG */

  .blog-post {
    margin: 3rem 0;
  }

  .blog-post .sub-header {
    font-size: 1.5rem;
  }

  .blog-post-one-img {
    margin: 3rem 0 1.5rem;
  }

  .blog-post-two-img {
    margin: 3rem 0 1.5rem;
  }

  .post-author {
    margin-bottom: 1.5rem 0;
  }

  .blog-post p {
    line-height: 1.8rem;
  }

  .post-content {
    margin: 1.5rem 0;
  }

  .aspens-img {
    margin-bottom: 1.5rem;
  }

  #rc-imageselect, 
  .g-recaptcha {
    transform:scale(0.7);
    transform-origin: 0 0;
  }

  /* BLOG */

  .blog-post-two-img {
    background-position: -100px;
  }

  /* CLASSES */

  .community-education-description {
    margin: 3rem 0;
  }

  .community-education-description h2 {
    margin: 3rem 0;
  }

}

@media screen and (max-width: 700px) and (max-height: 625px) {
  /* BANNER IMG */


}

@media screen and (max-width: 400px) {


  /* CAFE + MENU */

  #cafe-menu .beverages .list {
    padding: 0;
  }

}

@media screen and (max-width: 400px) and (max-height: 475px) {
  /* BANNER IMG */


}
