
/* CLASSES + WORKSHOPS */

.books-img {
  background: url(images/books.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  width: auto;
  margin-bottom: 3rem;
  height: 20rem;
}

.creme-fraiche {
  width: 65rem;
  max-width: 100%;
  box-shadow: 5px 5px 20px grey;
  border-radius: 15px;
  border: 3px solid rgb(40, 88, 107);
}

.education-img-box {
  text-align: center;
  margin: 3rem 0;
}

.teaching-questions {
  margin: 3rem auto;
  border-top: 1px solid grey;
}

.question {
  user-select: none;
  margin: 1.5rem 0;
}

.question:hover {
  cursor: pointer;
}

.answer {
  display: none;
}

.answer li {
  margin: 1.5rem 0;
  list-style-type: disc;
}

.triangle {
  margin-left: 1rem;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid var(--black-secondary);
  border-bottom: 5px solid transparent;
  transform: rotate(0deg);
  transition: transform 75ms;
  float:right;
  margin-top: 1rem;
}

.community-education-description .post-content {
  column-count: 2;
  column-gap: 5rem;
}

.community-education-description {
  margin: 3rem auto;
  border-top: 1px solid grey;
}

.community-education-description h2 {
  text-align: center;
}

@media screen and (max-width: 1025px) {

  .community-education-description .post-content {
    column-count: 1;
    column-gap: 5rem;
  }

  .community-education-description h2 {
    margin-top: 3rem;
    text-align: left;
  }

  .teaching-questions h2 {
    margin-top: 3rem;
  }

  .answer li {
    margin: 1.5rem 0;
  }

  .question {
    margin: 1.5rem 0;
  }

  .books-img {
    background-position: 0;
  }

}

@media screen and (max-width: 600px){

  .question {
    font-size: 1.2rem;
    margin: 3rem 0;
  }

  .teaching-questions .answer {
    font-size: 1.2rem;
  }

  .triangle {
    border-top: 4px solid transparent;
    border-left: 8px solid var(--black-secondary);
    border-bottom: 4px solid transparent;
  }

}

@media screen and (max-width: 475px){

  .community-education-description {
    margin: 3rem 0;
  }

  .community-education-description h2 {
    margin: 3rem 0;
  }

  .triangle {
    border-top: 3px solid transparent;
    border-left: 6px solid var(--black-secondary);
    border-bottom: 3px solid transparent;
  }

  .post-content {
    margin: 1.5rem 0;
  }

  .answer li {
    list-style-type: none;
  }

}

@media screen and (max-width: 360px) {

  .triangle {
    display: none;
  }

}