
/* EVENTS PAGE */

.event {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-top: 1px solid grey;
  /* display established in events script */
}

.event-description {
  flex-basis: 65%;
  margin-left: 5rem;
}

/*
h2 {
  margin: 0 auto 1.5rem;
}

.event-description p {
  margin: 1.5rem auto 0;
}
*/

.succulents-img {
  background: url(images/succulents-smaller.jpg) no-repeat;
  background-size: cover;
  height: 30rem;
  width: 30rem;
  align-self: center;
  margin: 3rem 0;
  box-shadow: 5px 5px 20px grey;
  border-radius: 15px;
  border: 3px solid rgb(40, 88, 107);
}

.img-container {
  flex-basis: 35%;
  margin: auto 0;
}

.event-img {
  width: 100%;
  height: auto;
  margin: 3rem 0;
  box-shadow: 5px 5px 20px grey;
  border-radius: 15px;
  border: 3px solid rgb(40, 88, 107);
}

.opening_night_flyer-img {
  background: url(images/opening_night_flyer.jpg) no-repeat;
}

.film_night_img {
  background: url(images/film_night.png) no-repeat;
}

.clothing-rack-img {
  background: url(images/event_images/clothing_rack.jpg) no-repeat;
}

.potluck-img {
  background: url(images/event_images/potluck.jpeg) no-repeat;
}

.event-time-selection {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.current, 
.past {
  font-size: 1.8rem;
  border: none;
  color: var(--black-tertiary);
  background: none;
  margin: auto 0 0;
}

.custom-hover {
  cursor: pointer;
}

.empty-message {
  color: rgb(150,150,150);
  font-size: 1.8rem;
  padding: 6rem 0;
  border-top: 1px solid grey;
  margin: 0;
  text-align: center;
}

.events-jar-img {
  max-width: 70%;
  height: auto;
  box-shadow: 5px 5px 20px grey;
  border-radius: 15px;
  border: 3px solid rgb(40, 88, 107);
}

.events-jar-img-box {
  text-align: center;
  margin: 3rem 0;
}

@media screen and (max-width: 1025px) {

  /* EVENTS PAGE */

  #events h2 {
    line-height: 3.5rem;
  }

  .event-img {
    width: 32rem;
    max-width: 100%;
  }

  .opening_night_flyer-img {
    width: 30rem;
    max-width: none;
    margin: 3rem 0;
  }

  .event {
    display: block;
    margin: 0;
  }

  .event-description {
    margin: 0;
    max-width: 70rem;
  }

  .succulents-img {
    width: 100%;
    height: 20rem;
    margin: 3rem 0 1.5rem;
  }

}

@media screen and (max-width: 475px){

  .event h2 {
    margin: 0 auto 1.5rem;
  }

}