
/* EVENTS PAGE */

.event {
  margin: 0;
  border-top: 1px solid grey;
  /* display established in events script */
}

.event-description {
  flex-basis: 60%;
  margin-left: 5rem;
}

.succulents-img {
  background: url(images/succulents-smaller.jpg) no-repeat;
  background-size: cover;
  height: 30rem;
  width: 30rem;
  align-self: center;
  margin: 3rem auto;
}

.opening_night_flyer-img {
  background: url(images/opening_night_flyer.jpg) no-repeat;
  background-size: cover;
  height: 30rem;
  width: 30rem;
  align-self: center;
  margin: 3rem auto;
}

.event-time-selection {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.current, 
.past {
  font-size: 1.8rem;
  border: none;
  color: var(--black-tertiary);
  background: none;
  margin: auto 0 0;
}

.custom-hover {
  cursor: pointer;
}

.empty-message {
  color: rgb(150,150,150);
  font-size: 1.8rem;
  padding: 6rem 0;
  border-top: 1px solid grey;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1025px) {

  /* EVENTS PAGE */

  #events h2 {
    line-height: 3.5rem;
  }

  .event {
    display: block;
    margin: 0;
  }

  .event-description {
    margin: 0;
  }

  .succulents-img {
    width: 100%;
    height: 20rem;
    margin: 3rem 0 1.5rem;
  }

}

@media screen and (max-width: 475px){

  .event h2 {
    margin-bottom: 1.5rem;
  }

}