
/* NAVIGATION BAR */

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-bar .links {
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: var(--links-padding) 0;
  margin: 0;
}

.liminal-link {
  text-decoration: none;
  color: var(--black-primary);
  transition: color 0.5s;
}

.nav-bar .links .liminal-icon {
  font-weight: 700;
  font-size: var(--icon-size);
  letter-spacing: 3px;
  width: 17.5vw;
  text-align: center;
  cursor: pointer;
}

.nav-bar .links .first-anchor {
  margin-left: 0;
}

.nav-bar .links .first-sublink {
  margin-left: 0;
}

.nav-bar .links .sublink a {
  color: var(--black-tertiary);
  /* bottom padding is for underline (border-bottom) on hover */
  padding-bottom: 0.2rem;
  text-decoration: none;
  transition: all 0.2s;
  font-size: var(--sublink-size);
  border-bottom: 1px solid rgba(0,0,0,0);
}

.sublink {
  vertical-align: middle;
}

.sublinks {
  display: flex;
  padding: 0;
  width: 65vw;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .links .current-link {
  font-weight: 800;
  cursor: default;
}

.nav-bar .vertical-links .current-link {
  font-weight: 600;
  cursor: default;
}

.nav-bar .links .sublink a:hover {
  color: var(--black-secondary);
  border-color: rgba(27,27,27,1);
}

.liminal-link:hover {
  color: var(--black-secondary);
}

.nav-bar .links .bars-icon {
  display: none;
}

.nav-bar .vertical-links {
  display: none;
}

@media screen and (max-width: 1250px) {

  .nav-bar .links .sublinks {
    display: none;
  }

  .nav-bar .links {
    justify-content: space-between;
    padding: var(--links-padding-4) 0;
  }

  .nav-bar .links .bars-icon {
    display: block;
    margin-left: 5rem;
    line-height: 3rem;
    cursor: pointer;
  }

  .nav-bar .links .liminal-icon {
    font-size: var(--icon-size-4);
    margin-right: 5rem;
    margin-left: 0;
    line-height: 3rem;
    width: auto;
  }


  .vertical-links {
    background-color: var(--color-nav);
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }

  .vertical-links li {
    list-style-type: none;
    font-size: 3.5rem;
  }

  .vertical-links a {
    text-decoration: none;
    color: var(--black-tertiary);
    transition: all 0.2s;
    border-bottom: 1px solid rgba(0,0,0,0);
  }

  .vertical-links a:hover {
    color: var(--black-secondary);
    border-bottom: 1px solid rgba(27,27,27,1);
  }

  .nav-bar .links {
    padding: var(--links-padding-2) 0;
  }

  .nav-bar .links .liminal-icon {
    font-size: var(--icon-size-2);
    line-height: var(--icon-size-2);
  }

  .nav-bar .links .sublink a {
    margin: 0 2rem;
    font-size: var(--sublink-size-2);
  }

}

@media screen and (max-width: 1025px) {

  .nav-bar .links {
    padding: var(--links-padding-3) 0;
  }

  .nav-bar .links .liminal-icon {
    font-size: var(--icon-size-3);
    line-height: auto;
  }

  .nav-bar .links .sublink a {
    margin: 0 1.8rem;
    font-size: var(--sublink-size-3);
  }

}

@media screen and (max-width: 475px){

  .vertical-links a {
    font-size: 2.2rem;
  }

  .vertical-links .current-link {
    font-size: 2.2rem;
  }

}

