

:root {
  --black-primary: rgb(56, 56, 56);
  --black-secondary: rgb(27,27,27);
  --black-tertiary: rgb(87, 87, 87);
  --webpage-color: rgb(250, 255, 249);
  --color-nav: #d4eac2;

  --flower-padding-top: 6rem;
  /* CALCULATE NAVBAR SIZING AND MARGINS */
  --sublink-size: 1.6rem;
  --links-padding: 1rem;
  --icon-size: 2.8rem;
  --nav-bar-height: calc((var(--links-padding) * 2) + var(--icon-size));

  /* CALCULATE NAVBAR SIZING AND MARGINS */
  --sublink-size-2: 1.6rem;
  --links-padding-2: 1rem;
  --icon-size-2: 2.8rem;
  --nav-bar-height-2: calc((var(--links-padding-2) * 2) + var(--icon-size-2));

  /* CALCULATE NAVBAR SIZING AND MARGINS */
  --sublink-size-3: 1.6rem;
  --links-padding-3: 1rem;
  --icon-size-3: 2.8rem;
  --nav-bar-height-3: calc((var(--links-padding-3) * 2) + var(--icon-size-3));

    /* CALCULATE NAVBAR SIZING AND MARGINS */
    --links-padding-4: 1.6rem;
    --icon-size-4: 2.8rem;
    --nav-bar-height-4: calc((var(--links-padding-4) * 2) + var(--icon-size-4));

}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: var(--webpage-color);
}

h1, h2, h3, h4 {
  color: var(--black-secondary);
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  margin: auto 0 6rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0 0 1.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0 0 1.5rem;
}

button {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p, li, label, input, textarea, button {
  color: var(--black-primary);
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 2.5rem;
  word-spacing: 0.1rem;
}

p::selection,
a::selection,
li::selection,
label::selection,
input::selection,
br::selection,
b::selection,
i::selection,
button::selection,
textarea::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
u::selection {
  background-color: var(--color-nav);
}

.p-larger {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin: 3rem auto;
}

.p-larger a:hover {
  color: rgb(163, 99, 163);
}

ul {
  list-style-type: none;
}

.links {
  background-color: var(--color-nav);
}

@media screen and (max-width: 1025px) {

  .p-larger {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem 0;
    line-height: 2rem;
  }

  h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2.5rem;
    
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
    margin: 0 2rem;
  }

  li {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

}

@media screen and (max-width: 475px) {

  .p-larger {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.5rem 0;
    line-height: 2rem;
  }

  p {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    line-height: 2rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin: 3rem 0 1.5rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
  }

  ul {
    padding: 0;
  }

}